/* Base styles */

:root {
    font-family: Open Sans, sans-serif;
     -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;  
                                  
                                  
}
body {
    margin: 0;
    /* Add font here later */
    color: #fff;
    background: #2A2D3B;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}




.card img {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;

}



h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    text-decoration: none;
    display: inline-block;
    /* background: hsl(156, 68%, 44%); */
    background: transparent;
    border-radius: 2.5%;
    color: #fff;
    padding: 1.2em 2.2em;
    border: 1.2px solid #080808;
    margin: 1.5em 0;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.btn2 {
    text-decoration: none;
    display: inline-block;
    background: #153041;
    color: #fff;
    padding: 1.2em 2.2em;
    border: 1px solid hsl(210, 12%, 37%);
    margin: 1.5em 0;
}

.btn:hover {
    background: #fff;
    color: hsl(210, 12%, 37%);
    border: none;
}

.btn2:hover {
    background: #fff;
    color: hsl(210, 12%, 37%);
}

/** Header */

#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .bg-image {
    position: absolute;
    background: #333 url('../assets/images/drawing-on-tablet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.3;
}

.profile-picture {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: -10px;
    
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap, #section-a .content-wrap {
    padding: 0 2em;
}

.icon {
    height: auto;
    max-width: 50px;
    min-width: 50px;
}

.icon-plain {
    height: auto;
    max-width: 50px;
    min-width: 50px;
    border-radius: 18px;
}

#name {
    font-size: 2.5em;
}

#type {
    font-size: 20px;
}


/* Section A */
#section-a {
    background: #fff;
    color: hsl(210, 12%, 37%);
    padding-bottom: 2em;
    /* display: none; */
}


/* #section-a .content-text p{
    padding-top: 0;
} */

/* Section B */
#section-b {
    /* padding: 0.5em 0.5em 1em; */
    padding-top: 0.5em;

    display: inline-block;
    color: #fdfdfd;
    background: rgb(255, 255, 255);
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800i;
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0px;
    color: hsl(210, 12%, 37%);
    white-space: nowrap;
}


#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#section-b li {
    margin-bottom: 1em;
    background: transparent;
    color: #fff;
    /* background: white; */
    /* color: hsl(210, 12%, 37%); */
}

hr {
    width: 55%;
}

.style {
    overflow: visible;
    padding: 0;
    color: #000000;
    border: none;
    border-top: thick double rgb(0, 0, 0);
}

.style:after {
    background: #fff;
    content: "*";
    position: relative;
    top: -0.65em;
    font-size: 2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    
}

.card-content {
    padding: 1.5em;
}

/* Section C */
#section-c {
    background-color: #efefef;
    color: #153041;
    padding: 2em;
}

/* Section D */
#section-d .box {
    padding: 2em;
    color: #fff;
}

#section-d .box:first-child {
    background: #3fb0ac;
}

#section-d p {
    margin-top: -20px;
}


/* Footer */
#main-footer {
    padding: 0em;
    padding-right: 20px;
    background: #252839;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main-footer img {
    padding: 15px;
}

#main-footer img:hover {
    transition: transform 0.4s;
    transform: scale(1.2);    
}

#main-footer a {
    color: green;
    text-decoration: none;
}

.email:link {
    color: #fff;
}

/* Media queries */
@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    }

    .card-title {
        font-size: 2vw;
    }

    /* #section-a .content-text {
       
    } */

    #section-a .content-text p{
        padding-top: 0;
    }

    .content-wrap, #section-b ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 4;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
    }

    #section-b li {
        width: 32.5%;
    }

    .profile-picture {
        max-width: 25%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding: -10px;
        
    }

    #main-footer {
        justify-content: flex-end;
    }
    
}